#Endpoints
users_url=https://xxxxxxxxxx
users2_url=https://xxxxxxxxxx
institutions_url=https://xxxxxxxxxx
onboardingusers_url=https://xxxxxxxxxx
queue_url=htts://xxxxxx
api_url=https://xxxxxx
#API Endpoint
delete_key=xxxxxxxxxx
get_user_info_key=xxxxxxxxxx
add_user_key=xxxxxxxxxx
#API Prodotti
prod_pagopa=xxxxxxxxxx
prod_interop=xxxxxxxxxx
prod_pn=xxxxxxxxxx
prod_io=xxxxxxxxxx
prod_interop_coll= xxxxxxxxxx
prod_io_premium=xxxxxxxxxx
#MongoDB
mongokey=xxxxxxxxxx
mongourl=xxxxxx
#Varie
python_path=/usr/local/bin/python3.10
delete_path=/Users/.../area-riservata/src/delete_user.py
add_path=/Users/...